@font-face {
    font-family: "AcromBold";  
    src: url("../fonts/AcromBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

@font-face{
     font-family: "AcromExtraBold";
     src: url("../fonts/AcromExtraBold.ttf") format("truetype");
     font-style: normal; 
    font-weight: normal; 
    }

@font-face{
    font-family: "AcromMedium";
    src: url("../fonts/AcromMedium.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }

@font-face{
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
    }   

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    width: 848px;
    margin-top: 33px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "AcromMedium";
    font-size: 10px;
}

.phones {
    margin-left: 23px;
}

.introduce {
    margin-top: 98px;
}

.title {
    font-family: "MyriadProRegular";
    font-size: 57px;
    line-height: 63px;
    letter-spacing: normal;
}

 .negativ {
    background-color: #000;
    color: #fff;
}

.introduceInfo {
    margin-top: 35px;
    width: 462px;
    display: flex;
    justify-content: space-between;
    font-family: "AcromBold";
    font-size: 21px;
}

.introduceInfoText {
    width: 362px;
}


.Group-5{
    margin-top: 82px;
}

 .message{
    font-family: "AcromExtraBold", sans-serif;
     width: 418px;
     height: 310px;
     box-shadow: -7px 12px 18px 10px #e7e7e7;
     display: flex;
     flex-direction: row;
     margin: 0 auto;
     text-transform: uppercase;
     font-size: 12px;
     position: relative;
    padding-top: 25px;
    margin-bottom: 57px;}

.mainMessage>li{
    padding-top: 25px;
}
.secondMessage>li{
    padding-top: 25px;
}

.duration{
    margin-bottom: 15px;
}

.secondMessage>.duration_1{
    padding-top: 0;
}

 
 .Group-5 .mainMessage{
     width: 209px;
     text-align: end;
     margin-top: 25px;
 }

 .Group-5 .secondMessage{
     width: 209px;
     margin-left: 10px;
     margin-top: 25px;
 }

 .bonus{
     font-family: "AcromMedium", sans-serif;
     font-size: 15px;
     position: absolute;
     left: 110px;
    bottom: 59px;
   color: #f07c3e;
   text-transform: none;
 }

 .mainMessage::after{
     content: "/";
     position: absolute;
     font-size: 40px;
     font-weight: bold;
     left: 70px;
     bottom:50px;
    }

    .bonus::before{
        content: "/";
        position: absolute;
        font-size: 70px;
        bottom: 35px;
        right: 90px;
        transform: rotate(50deg);

    }

 .footer>a{
     text-decoration: none;
     color: #fff;
     text-align: center;

 }

 .footer{
    margin-bottom: 120px;
    
 }

 .button{
     display: block;
     font-family: "AcromMedium", sans-serif;
    width: 336px;
    height: 49px;
    font-size: 15px;
    padding: 17px 25px 17px;
    background:#f07c3e;
    margin: 0 auto;
    text-transform: uppercase;
 }
 
/*Carousel top*/
 .group-3-2 {
    padding-top: 40px;
}
.about-title {
    font-family: "AcromExtraBold";
    font-size: 32px;
}
 
.carousel-top {
    width: 300px;
    height: 190px;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0), 0 10px 10px rgba(0,0,0,0.22);
}
  
.about-text {
    color: #000000;
    font-family: "AcromMedium";
    padding: 32px;
    font-size: 14px;
}
  
.about-text::before {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background-color: #f06e2c;
    margin-bottom: 15px;
}
  
.slick-arrow {
    position: absolute;
    border: 0;
    background-color: #ffffff;
    height: 25px;
    width: 15px;
    z-index: 10;
    color: #ffffff;
    cursor: pointer;
}
  
.slick-prev {
    top: 75px;
    left: -50px;
    background-color: #d1d2d3;
    width: 15px;
    height: 25px;
    border-style: solid;
    border-width: 15px 25px 15px 0;
    border-color:  #ffffff transparent #ffffff #ffffff;
}
  
.slick-next {
    top: 75px;
    right: -50px;
    width: 15px;
    height: 25px;
    background-color: #d1d2d3;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color:  #ffffff  #ffffff #ffffff transparent;
}